.row{
    height: 100%;
    width: 100%;
    margin: 0%;
}
.abc{
    height: 100%;
    width: 50%;
    background-color: coral;
}
.a{
    border: 1px solid black;
}
.xyz{
    height: 100%;
    width: 50%;
    background-color: beige;
}